body {
    background-image: url(images/resume-photo.jpg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}

/* MAIN HEADER */
header .main-heading h1 {
    font-family: 'Play', sans-serif;
    font-size: 5em;
    color: white;
    border-spacing: 3em;
    padding: .5em;
}

header .main-heading h2 {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    color: white;
}

/** LINKS **/
div li {
    font-family: 'Play', sans-serif;
    display: inline-block;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    text-indent: 10em;
}

.github,
.twitter,
.facebook,
.email {
    padding: 10px;
}

.github :hover,
.twitter :hover,
.facebook :hover,
.email :hover{
    color: rgba(255,242,34, 0.8);
}

/** FOOTER PICTURE**/
.profile-pic {
    width: 250px;
    height: 250px;
    margin-left: 570px;
    margin-top: 25px;
    list-style-type: none;
}

.circle {
    height: 100%;
    position: relative;
}

.info{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.info div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    transition: all 0.4s linear;
    transform-origin: 50% 0%;
}

.info .info-front {
    box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.info .info-back {
    transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    background: #000;
    opacity: 0;
}

.img {
    background-image: url(images/Iron-yard-headshot.jpg);
}

.info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 0 15px;
    padding: 60px 0 0 0;
    height: 110px;
    font-family: 'Play', sans-serif;
}

.info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 15px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.circle:hover .info-front {
    transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    opacity: 0;
}

.circle:hover .info-back {
    transform: rotate3d(1,0,0,0deg);
    opacity: 1;
}
